@page "/clientes/novo"

@rendermode InteractiveServer 

@inject ApplicationDbContext _context
@inject NavigationManager nav

<PageTitle>Novo Cliente</PageTitle>

<h1>Cadastro de Cliente</h1>

<EditForm Model="@Model" OnValidSubmit="@Gravar" OnInvalidSubmit="@Errada">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <FormPessoa Model="@Model"/>

    <button type="submit" class="btn btn-primary">Criar</button>
    <a href="/clientes">Cancelar</a>
</EditForm>



@code {
    public Pessoa Model { get; set; } = new();

    private async Task Gravar()
    {
        try
        {
            await _context.Pessoas.AddAsync(Model);
            await _context.SaveChangesAsync();

            nav.NavigateTo("/clientes");
        }
        catch(Exception ex)
        {
            
        }
    }
    private void Errada()
    {
        var n = Model.Nome;
    }

}
