@page "/clientes/{pegar:int?}"

@rendermode InteractiveServer

@inject ApplicationDbContext _context 
@attribute [StreamRendering]

<PageTitle>Clientes</PageTitle>

<a href="/clientes/novo" class="btn btn-primary">Novo Cliente</a>

@if (Pessoas is not null)
{
    <ConsultarPessoa Pessoas="@Pessoas" Pegar="@Pegar"></ConsultarPessoa>
}







@code {
    [Parameter]
    public int Pegar { get; set; }

    public List<Pessoa> Pessoas { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Pessoas = await _context.Pessoas.AsNoTracking().ToListAsync();
    }

}
