<InputSelect @bind-Value="Estado" class="form-control">
    <option selected>Escolher...</option>
    <option>...</option>
</InputSelect>

@code {
    [EditorRequired]
    [Parameter]
    public string? Estado { get; set; } 



}
